*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --violet: #674baf;
  --soft-magenta: #e882e8;
  --hot-pink: #ff52c1;
  --white: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: url("./images/bg-mobile.svg"), var(--violet);
  margin: 0 2.5rem;
  color: var(--white);
}

main {
  text-align: center;
}

.huddle-logo {
  margin-top: 2.375rem;
  width: 120px;
}

.hero-img {
  width: 296px;
  height: 209px;
  margin-top: 4.313rem;
  margin-bottom: 3.75rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
}

.description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.register-btn {
  color: var(--violet);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
  background: var(--white);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 20px;
  border: none;
  padding: 0.688rem 4.688rem;
  cursor: pointer;
}

.register-btn:hover {
  color: var(--white);
  background-color: var(--soft-magenta);
}

.social-media-btns {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

.fa-brands {
  border-radius: 50%;
  border: 0.798301px solid var(--white);
  padding: 0.438rem 0.625rem;
  cursor: pointer;
}

.fa-brands:hover {
  color: var(--hot-pink);
  border: 0.798301px solid var(--hot-pink);
}

.fa-twitter {
  margin: 0 0.625rem;
}

@media (min-width: 90em) {
  body {
    margin: 0 5rem;
    background: url("./images/bg-desktop.svg"), var(--violet);
  }

  .huddle-logo {
    margin-top: 4rem;
    margin-bottom: 6.5rem;
    width: 200px;
  }

  main {
    display: flex;
    justify-content: center;
  }

  .hero-img {
    margin-top: 0;
    width: 696px;
    height: 493px;
  }

  .main-content {
    text-align: left;
    margin-top: 1.875rem;
    margin-left: 3.688rem;
    width: 520px;
  }

  .title {
    font-size: 2.5rem;
    line-height: 60px;
  }

  .description,
  .register-btn {
    font-size: 1.125rem;
    line-height: 27px;
  }
}
